$white-color: #FFFFFF;
$white-color-with-opacity: rgb(255,255,255, 0.7);
$background-color: #10141E;
$red-color: #FC4747;
$navbar-background-color: #161D2F;
$dark-color-with-opacity: rgb(16, 20, 30, 0.5);
$lighter-blue-color: #5A698F;
$text-shadow: 0px 2px 3px rgba(70,65,65,0.6);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 10px;
}

body {
  background-color: $background-color;
  overflow-y: scroll;
}

@mixin generalContainerStyle($wrap) {
  display: flex;
  flex-direction: row;
  flex-flow: $wrap;
}

@mixin generalCardStyle {
  margin: 0px 20px;
  
  img.thumbnailImg {
    border-radius: 20px;
  }
}

@mixin generalCardTextStyle($marginLeftAllText, $h2MarginBottom) {
  text-align: left;
  bottom: 0;
  left: 0;
  margin-left: $marginLeftAllText;
  text-shadow: $text-shadow;
  
  h2 {
    margin: 0px 0px $h2MarginBottom 0px; 
    color: $white-color;
  }

  span {
    color: $white-color-with-opacity;
  }
}


div.trendingContainer {
  @include generalContainerStyle(no-wrap);
}

div.recommendedForYouContainer {
  @include generalContainerStyle(wrap);
  // width: 90vw;
}

div.trendingCard {
  @include generalCardStyle;
  position: relative;
  
  img.thumbnailImg {
    width: 540px;
    height: 300px;
  }
}

div.recommendedForYouCard {
  @include generalCardStyle;
}

div.trendingCardText {
  @include generalCardTextStyle(30px, 20px);
  position: absolute;
}

div.recommendedForYouText {
  @include generalCardTextStyle(5px, 30px);
}

.cardBookmarkIcon {
  position: absolute;
  right: 30px;
  top: 20px;
  background-color: $dark-color-with-opacity;
  padding: 15px;
  border-radius: 10px;

  &:hover {
    fill: $background-color;
    background-color: $white-color;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 0.5s;
    cursor: pointer;
  }

  &.isBookmarked {
    fill: $white-color;
  }
}

h1.titleText {
  color: $white-color;
  font-size: 2.3em;
  text-align: left;
  margin-left: 20px;
}

div.navbarContainer {
  background-color: $navbar-background-color;
  margin: 0 auto;
  width: 95vw;
  height: 70px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div.mainIconsContainer {
    display: flex;
    gap: 40px;

    .navbarIcon.active {
      fill: $white-color;
    }

    .navbarIcon:hover {
      fill: $red-color;
    }
  }

  img:first-child {
    margin-left: 30px;
  }

  img.avatarImg {
    width: 40px;
    border: 2px solid $white-color;
    border-radius: 50%;
    margin-right: 30px;
  }
}
